{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">{% endblock %}

{% block content %}
	<main class="main">
		<section class="intro">
		  <div class="intro__container container">
			<h1 class="intro__title">Умный робот-помощник Савва </h1>
			<form class="intro__form" method="post" action="/" onsubmit="showResponse(event)">
			  <div class="intro__input">
				<img class="intro__img" src="{% static 'img/robot.png'%}" alt="">
				<input class="intro__input-input" placeholder="Введите запрос..." type="text"> {% csrf_token %}
				<button type="submit" class="intro__button-button" onclick="sendData()"><img
					src="{% static 'img/arrow_right.svg'%}" alt=""></button>
			  </div>
			</form>
		  </div>
		</section>
		<div class="overlay" id="overlay">
		  <div class="response" id="response">
			<span id="userInputDisplay"></span>
		  </div>
		</div>
	  </main>
{% endblock %}

