{% load static %}

<header class="header">
			<div class="header__container container">
				<div class="header__logo">
					<a href="">
						<img class="header__img" src="{% static 'img/logo.png' %}" alt="">
					</a>
				</div>
				<nav class="header__nav">
					<ul class="header__items">
						<a href=""><li class="header__item">Главная</li></a>
						<a href=""><li class="header__item">Статистика</li></a>
					</ul>
				</nav>
				<button class="header__button __btn">
					<span>Вход</span>
				</button>
			</div>
		</header>