* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

textarea{all:initial}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400 ;}

/* BASE BLOCKS */
body {
	font-family: 'Montserrat';
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
} 
/*  	 */
.__btn {
	background-color: #50b848;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: 0.2s ease-in;
	font-size: 20px;
	color: white;
}

.__btn:hover {
	background-color: #3f9239;
	transition: 0.2s ease-in;
}
.main {
	flex: 1 1 auto;
}

/* ----HEADER------ */
.header {
	height: 90px;
}
.header__container {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header__img {
	object-fit: cover;
	height: 40px;
	width: 180px
}
.header__items {
	display: flex;
	gap: 50px;

}
.header__item {
	font-size: 20px;
	color: #3f9239;
}
.header__button {
	width: 140px;
}
/* MAIN */
.intro {
	padding: 100px 0px;
	background-color: #50b848;
}
.intro__title {
	font-size: 32px;
	color: white;
	font-weight: 600;
	max-width: 600px;
}
.intro__container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
}
.intro__img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	background-size: cover;
	position: absolute;
	top: -180%;
	left: -220px;
}
.intro__form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	position: relative;
}

.intro__input-input {
	width: 90%;
	caret-color: #50b848;
	height: 60px;
	padding-left: 10px;
	border-radius: 10px;
}
.intro__input-input[type="text"] {
  font-size: 18px;
}
.intro__input {
	width: 100%;
	position: relative;
	background-color: white;
	height: 60px;
	border-radius: 10px;
}
.intro__button-button {
	background-color: transparent;
	position: absolute;
	top: 30%;
	right: 30px;
}
.intro__button-button > img {
	height: 25px;
	width: 25px;
	background-size: cover;
}
.intro__input-input::placeholder {
	font-size: 18px;
	color: #6c6c6c;
}
/* ----FOOTER------ */
.footer {
	height: 100px;
}

.footer__body {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo > a {
	display: block;
}
.footer__img {
	object-fit: cover;
	height: 40px;
	width: 180px
}
.footer__root {
	font-size: 18px;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
}
.footer__connection {
	font-size: 18px;
	margin-bottom: 10px;
}
.connection__tg-wk {
	display: flex;
	gap: 20px;
}
.connection__tg {
	width: 25px;
	height: 25px;
	background-size: cover;
	object-fit: cover;
}
.connection__wk {
	width: 25px;
	height: 25px;
	background-size: cover;
	object-fit: cover;
}

/* ---AUTH---- */

.auth {
	
}
.auth__container {
	display: flex;
	justify-content: center;
}

.auth__body {
	margin: 150px 0;
	width: 50%;
	height: 450px;
	background-color: #50b848;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
}
.body__title {
	font-size: 32px;
	color: white;
	font-weight: 600;
	margin: 80px 0 50px 0;
}
.body__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	width: 100%;
}
.input {
	width: 70%;
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
}
.body__form-name {

}
.body__form-pass {
}
.body__form-button {
	padding: 0 60px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
	font-size: 20px;
	color: #909090;
}