<!DOCTYPE html>
<html lang="ru">
{% load static %}
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
        {% block favicon %}<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        {% endblock %}
        <title>{% block title %}Заголовок по умолчанию{% endblock %}</title>
    </head>
    <body>
			<div class="wrapper">
        {% include "includes/header.html" %}
        <main>
            {% block content %}Контент не подвезли:({% endblock %}
        </main>
        {% include "includes/footer.html" %}
			</div>
        <script src="{% static 'js/index.js' %}"></script>

    </body>
</html>