{% extends "base.html" %}
{% load static %}

{% block title %}Страница сотрудника{% endblock %}
{% block favicon %}<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">{% endblock %}

{% block content %}
    <main class="main">
			<section class="profil">
				<div class="profil__container container">
					<div class="profil__body">
						<h1 class="profil_name"><span id="profil__name">Егор Кириллов</span></h1>
						<p class="profil__categories"><p id="categories"> 'change_order',
							'delete_account',
							'get_invoice',
							'track_order',
							'set_up_shipping_address',
							'payment_issue',
							'switch_account',
							'delivery_period',
							'create_account',
							'complaint',
							'contact_customer_service',
							'get_refund',
							'recover_password',
							'delivery_options',
							'contact_human_agent',
							'check_invoice',
							'check_refund_policy',
							'check_invoices',
							'newsletter_subscription',
							'edit_account',
							'check_cancellation_fee',
							'check_payment_methods',
							'track_refund',
							'review',
							'change_shipping_address',
							'registration_problems',
							'place_order',
							'cancel_order</p></p>
						</div>
					</div>
						<div class="profil__blocks">
							<div class="container">
								<div class="blocks__title">Неотвеченные вопросы</div>
								<div class="profil__items">
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div>
									<div class="profil__item">
										<div class="item__body-title">
											<img src="" alt="">
											<h3 class="body-title__title"><p id="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wi?</p> </h3>
										</div>
										<form class="item__form" action="">
											<div class="item__form-input">
												<input type="text" class="item__form-input-input" placeholder="Ответить...">
											</div>
											<button type="submit" class="item_form-button">Отправить</button>
										</form>
									</div> af
								</div>
								</div>
						</div>
			</section>
		</main>
{% endblock %}